body {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-color: red;
    border-width: 1.5px;
}
@media (min-width: 768px) {
    .caixa-lupa {
        width: 20%;
        display: none;
    }
}
@media (min-width: 768px) {
    .lupa {
        width: 50%;
    }
}

.caixa-logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atividades-menu {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lista-menu {
    font-size: 0.8rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.caixa-menu-perfil {
    width: 30%;
    display: flex;
   align-items: center;
}
.caixa-menu {
    width: 60%;
}
@media (max-width: 768px) {
    .caixa-menu {
        display: none;
    }
}
.link-menu {
    color: black;
    text-decoration: none;
}
.menu-item:hover {
    color: red;
    transition: 0.8s;
}
.pesquisa {
    height: 50%;
}
.caixa-perfil {
    width: 40%;
    display: flex;
}
.perfil {
    width: 50%;
}
.perfil:hover {
    transform: rotate(720deg);
    transition: 3s;
}
.carrinho {
    width: 50%;
}
.carrinho:hover {
    transform: rotate(720deg);
    transition: 3s;
}
section {
    margin: 0;
    padding: 0;
}
.sessao1 {
    margin-top: 5rem;
    margin-bottom: -4px;
}
.imagem-section {
    width: 100%;
}
.sessao-man-woman {
    display: flex;
}
.imagem-man-woman {
    width: 50%;
}
.sessao-publicidade {
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
.barrinha {
    margin-top: 5px;
    width: 10vh;
    height: 2px;
    background-color: red;
}
.atividades-album {
    display: flex;
    flex-direction: column;
}
.album {
    display: flex;
}
.foto-album {
    width: 25%;
}
.foto-album:hover {
    opacity: 0.8;
}
.caixa-footer {
    display: flex;
}
.caixa-lista-footer {
    width: 50%;
    display: flex;
    justify-content: center;
}
.lista-footer {
    height: 25vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-lista {
    font-size: 0.8rem;
}
.item-lista-link {
    text-decoration: none;
    color: black;
}
.texto-footer {
    width: 81%;
    font-size: 0.8rem;
}
.caixa-texto-email {
    width: 50%;
    font-size: 0.8rem;
}
.enviar {
    background-color: red;
    color: wheat;
    border-style: none;
    margin-left: -5px;
    height: 7vh;
    width: 16%;
}
.digitar-email {
    height: 7vh;
    width: 50%;
}
.caixa-midia {
    margin: 0;
    margin-top: 5vh;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.midia-logo {
    width: 5%;
    height: 4vh;
}
.texto-midia {
    width: 50%;
}
.caixa-logo-midia {
    margin: 0;
}
.caixa-copyr {
    height: 20vh;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}